# vim: syntax=apache:

#if $getVar('namevirtualhost', None)
NameVirtualHost $interface:$http_port
NameVirtualHost $interface:$https_port
#end if

<VirtualHost $interface:$http_port>
    ServerName ${sitename}
    #for $a in $aliases
    ServerAlias $a
    #end for
    ServerAdmin ${serveradmin}
    CustomLog ${logdir}/${sitename}-access.log combined
    ErrorLog ${logdir}/${sitename}-error.log
    ProxyRequests Off 
    RewriteEngine On
#if $https_port == '443'
    RewriteRule /(.*)$ https://${sitename}/$1 [R] 
#else
    RewriteRule /(.*)$ https://${sitename}:$https_port/$1 [R] 
#end if
</VirtualHost>

#for $r in $redirects
<VirtualHost $interface:$http_port>

    ServerName ${r}
   
    ServerAdmin ${serveradmin}
    CustomLog ${logdir}/${r}-access.log combined
    ErrorLog ${logdir}/${r}-error.log
    ProxyRequests Off 
    RewriteEngine On

#if $https_port == '443'
    RewriteRule /(.*)$ https://${sitename}/$1 [R] 
#else
    RewriteRule /(.*)$ https://${sitename}:$https_port/$1 [R] 
#end if 

</VirtualHost>
#end for


<VirtualHost $interface:$https_port>
    ServerName $sitename
    ServerAdmin $serveradmin
    CustomLog /var/log/apache2/${sitename}-access.log combined
    ErrorLog /var/log/apache2/${sitename}-error.log

#if $daemon
    WSGIDaemonProcess $processgroup user=$user group=$group processes=$processes threads=$threads
    WSGIProcessGroup $processgroup
#end if

    #for alias in $aliases
    ServerAlias $alias['location'] $alias['path']
    #end for

    WSGIScriptAlias / $wsgi

    SSLEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL
    SSLCertificateFile ${sslcert}
    SSLCertificateKeyFile ${sslkey}
    #for $a in $sslca
    SSLCACertificateFile ${a}
    #end for


</VirtualHost>

